.card {
  margin: 10px;
}

.card-image {
  max-height: 250px;
  min-height: 250px;
}

.mat-mdc-card-content {
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}
